.DS_Store
*.o
android-build
moc_*.cpp
*.core
*.so
android*.json
Makefile

/clang-build
/android-build
/tualo-Leistungserfassung.app
/Info.plist
/Makefile
/Makefile.DebugDevice
/Makefile.DebugSimulator
/Makefile.ReleaseDevice
/Makefile.ReleaseSimulator
/android-libtualo-Leistungserfassung.so-deployment-settings.json
/libtualo-Leistungserfassung.so
/qt.conf
/tualo-Leistungserfassung.pro.user
/tualo-Leistungserfassung64.png
/tualo-Leistungserfassung80.png
/tualo-leistungserfassung_qml_plugin_import.cpp